* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    overflow: hidden;
}

.bulle {
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    opacity: 0.2;
    filter: hue-rotate(0);
    animation: bubulle 10s forwards;
    cursor: crosshair;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bulle p {
    color: red;
}

@keyframes bubulle {
    to {
        top: -300px;
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}

.score {
    background-color: grey;
    font-size: 30px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    z-index: 10;
    text-align: center;
    font-size: 1.5em;
}

.score span {
    padding: 0 20px;
}

.score button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-size: 1rem;
}

@media screen and (max-width: 700px) {
    .score {
        width: fit-content;
        background-color: transparent;
        color: whitesmoke;
        font-size: 1em;
        gap: 3px;
    }

    .score button {
        font-size: 1em;
    }
    .score span {
        padding: 0 5px;
    }
}

/* Ajoutez ce code CSS dans votre balise <style> ou un fichier CSS externe */
#popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
  }
  
  #popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
  }
  
  #closeButton {
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  /* Appliquer des styles aux cellules d'en-tête */
  th {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  /* Appliquer des styles aux cellules de données */
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  /* Appliquer une couleur de fond alternée aux lignes pour une meilleure lisibilité */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }